body {
  font-family: "Lato";
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.signature-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-text {
  text-align: center;
}

canvas {
  border: 1px solid black;
  border-radius: 9px;
  display: block;
  margin: auto;
}

.button-flex-box {
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.margin-button {
  margin-top: 5px;
}

.btn-delete-signature {
  background: #ec2049;
  color: white;
  width: 10rem;
  display: inline-block;
  height: 2.5rem;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.btn-download-pdf {
  background: #2ab7ca;
  color: white;
  width: 10rem;
  display: inline-block;
  height: 2.5rem;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
}
